<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed1b0416-d1a3-491f-b5a2-8cea09d7102e" Alias="Page - Textfield - Textbox" Level="1">
  <Info>
    <Name>Page - Textfield - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>